<p class="about-header">BROOKLYN TIME BANK<br />
<%= image_tag("logo_200x141.png", :size => "200x141", :alt => "Hourglass recycling logo for Brooklyn Time Bank") %>
</p>
<hr class="dashed-rule"/>

<p class="about">The Brooklyn Timebank is a member-led network of people who exchange <span class="about-hilight">goods</span> and <span class="about-hilight">services</span> with each other using <span class="about-hilight">"time"</span> as currency.
<div id="callout-wrapper">
  <div id="callout">
    <a href="">LEARN MORE</a> | 
    <a href="">CONTACT US</a>
  </div>
</div>
<div id="concept">
  <p class="about">The Concept is simple: for each hour you <span class="concept-hilight">do something</span> for someone else you <span class="concept-hilight">receive an hour</span> to spend on something that you would like from anyone else within the network.</p>
</div>
<p class="about"><br />
<%= image_tag("about_venn_629x445.png", :size => "629x445", :alt => "Venn Diagram showing buying and selling hours") %>
<br />
Each member has an <span class="account-hilight">account</span> within the Timebank and is <span class="account-hilight">free to offer</span> and <span class="account-hilight">reveive services</span> as they wish.
</p>
<hr class="dashed-rule">
<p class="about">The B.T.B. is coordinated by a group of <span class="about-hilight">volunteer members</span> and is <span class="about-hilight">open to anyone</span> who wishes to exchange outside of the dominant economic paradigm.</p>
<p class="about">
<%= image_tag("about_map_goods_brooklyn_707x500.png", :size => "707x500", :alt => "Map of Brooklyn with goods spread out among neighborhoods") %>
We <span class="about-hilight">believe</span> in investing in, experimenting with, and improving an <span class="about-hilight">economy based</span> in the abundance of <span class="about-hilight">social capital in Brooklyn</span>.
</p>
